SUBSYSTEMS=="usb", KERNELS=="1-2.3.2:1.0", SYMLINK+="fsesc_arm"
SUBSYSTEMS=="usb", KERNELS=="1-2.3.1:1.0", SYMLINK+="fsesc_drum"
SUBSYSTEMS=="usb", KERNELS=="1-2.3.4:1.0", SYMLINK+="drive_control"
SUBSYSTEMS=="usb", KERNELS="1-2.4:1.0", SYMLINK+="spare_motor"
